<!DOCTYPE HTML>
<html xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="../login/login.css">
    <link rel="stylesheet" href="../common/bootstrap.min.css" >
    <script src="../common/jquery-3.3.1.slim.min.js" ></script>
    <script src="../common/popper.min.js" ></script>
    <script src="../common/bootstrap.min.js"></script>
    <script src="../common/axios.min.js"></script>
    <script src="../common/lodash.js"></script>
</head>
</head>
<body>
<div class="container" id="page-login">
    <div id="screen-login" v-if="!isLogin">
        <table class="table">
            <tbody>
                <tr v-if="isLoginByUsername">
                    <td><label>Username: </label></td>
                    <td><input v-model="username" placeholder="Username"></td>
                </tr>
                <tr v-else>
                    <td><label>Mail: </label></td>
                    <td><input v-model="mail" placeholder="Mail"></td>
                </tr>
                <tr>
                    <td><label>Password: </label></td>
                    <td><input type="password" v-model="password" placeholder="Password"></td>
                </tr>
            </tbody>
        </table>
        <div>
            <label>Login by:</label>
            <input type="radio" id="radio-username" value="username" v-model="chooseTypeLogin">
            <label for="radio-username">Username</label>
            <input type="radio" id="radio-mail" value="mail" v-model="chooseTypeLogin">
            <label for="radio-mail">Mail</label>
        </div>

        <div>
            <br><br><br>
            <label>After enter:</label>
            <p v-if="isLoginByUsername" v-html="'Username: ' + username"></p>
            <p v-if="!isLoginByUsername" v-html="'Mail: ' + mail"></p>
            <p v-html="'Password: ' + password"></p>
        </div>

        <button class="btn btn-success" id="btn-login" v-on:click="login">Submit</button>
    </div>

    <div id="manage-login-user" v-if="isLogin">
        <table class="table">
            <tbody>
            <tr>
                <td><label>Username:</label></td>
                <td><input placeholder="Username" v-model="username"></td>
            </tr>
            <tr>
                <td><label>Mail:</label></td>
                <td><input placeholder="Mail" v-model="mail"></td>
            </tr>
            <tr>
                <td><label>Password:</label></td>
                <td><input type="password" placeholder="Password" v-model="password"></td>
            </tr>
            </tbody>
        </table>
        <button type="button" class="btn btn-success" v-on:click="addUser">Add</button>
    </div>

    <div>
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Username</th>
                <th scope="col">Mail</th>
                <th scope="col">Password</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="user in users">
                <th scope="row">{{ user.id }}</th>
                <td><input class="no-border" type="text" name="username" readonly="readonly" v-model="user.username"/></td>
                <td><input class="no-border" type="text" name="mail" readonly="readonly" v-model="user.mail"/></td>
                <td><input class="no-border" type="text" name="password" readonly="readonly" v-model="user.password"/></td>
                <td>
                    <button type="button" class="btn btn-primary btn-edit" v-on:click="editUser($event, user.id)">Edit</button>
                </td>
                <td>
                    <button class="btn btn-danger" v-on:click="deleteUser(user.id)">Delete</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>



<script type="text/javascript" src="../login/login.js"></script>
</body>
</html>